[Unit]
Description=HTTP读取器
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/bruceplxl/deploy/kbkonlinetopup
ExecStart=/bin/bash -c 'source /home/bruceplxl/miniconda3/bin/activate kbkonlinetopup && python http_reader.py'
Restart=always
RestartSec=10
SyslogIdentifier=http_reader
Environment=PYTHONUNBUFFERED=1
ProtectSystem=full
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target