[Unit]
Description=HTTP读取器
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/Users/bruceplxl/Dev/ICmanager
ExecStart=/Users/bruceplxl/miniconda3/envs/kbkonlinetopup/bin/python http_reader.py
Restart=always
RestartSec=10
StandardOutput=append:/Users/bruceplxl/Dev/ICmanager/logs/http_reader.log
StandardError=append:/Users/bruceplxl/Dev/ICmanager/logs/http_reader.log

[Install]
WantedBy=multi-user.target 