[Unit]
Description=管理服务器
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/Users/bruceplxl/Dev/ICmanager
ExecStart=/Users/bruceplxl/miniconda3/envs/kbkonlinetopup/bin/python manager_server.py
Restart=always
RestartSec=10
StandardOutput=append:/Users/bruceplxl/Dev/ICmanager/logs/manager_server.log
StandardError=append:/Users/bruceplxl/Dev/ICmanager/logs/manager_server.log

[Install]
WantedBy=multi-user.target 