[Unit]
Description=管理服务器
After=network.target

[Service]
Type=simple
User=bruceplxl
WorkingDirectory=/home/bruceplxl/deploy/kbkonlinetopup
ExecStart=/bin/bash -c 'source /home/bruceplxl/miniconda3/bin/activate kbkonlinetopup && python manager_server.py'
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=manager_server
Environment=PYTHONUNBUFFERED=1
ProtectSystem=full
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target