[Unit]
Description=状态更新服务
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/Users/bruceplxl/Dev/ICmanager
ExecStart=/Users/bruceplxl/miniconda3/envs/kbkonlinetopup/bin/python status_update_server.py
Restart=always
RestartSec=10
StandardOutput=append:/Users/bruceplxl/Dev/ICmanager/logs/status_update.log
StandardError=append:/Users/bruceplxl/Dev/ICmanager/logs/status_update.log

[Install]
WantedBy=multi-user.target 